$Fitwel-Main-Palette-Primary: #0053C7;
$Fitwel-Main-Palette-Primary-D1: #0A4CA8;
$Fitwel-Main-Palette-Primary-D2: #094190;
$Fitwel-Main-Palette-Primary-L1: #D4E3F7;
$Fitwel-Main-Palette-Primary-L2: #EEF4FC;
$Fitwel-Main-Palette-Secondary: #6124B2;
$Fitwel-Main-Palette-Secondary-D1: #4F0AA8;
$Fitwel-Main-Palette-Secondary-D2: #430990;
$Fitwel-Main-Palette-Secondary-L1: #E3D4F7;
$Fitwel-Main-Palette-Secondary-L2: #F4EEFC;
$Fitwel-Text-Heading: #010F23;
$Fitwel-Text-Body: #47566B;
$Fitwel-Text-Caption: #5E718D;
$Fitwel-Text-Disabled: #A3B0C2;
$Fitwel-Background-Dark: #052542;
$Fitwel-Background-Content-Background: #F9FAFB;
$Fitwel-Background-White: #FFFFFF;
$Fitwel-Background-Background-L1: #E0E5EB;
$Fitwel-Background-Background-L2: #F9FAFB;
$Fitwel-Decorative-Purple: #88379D;
$Fitwel-Decorative-Purple-L1: #F3DDF9;
$Fitwel-Decorative-Purple-L2: #F9EEFC;
$Fitwel-Decorative-Teal-L1: #E5F1EF;
$Fitwel-Decorative-Teal-L2: #F2F8F7;
$Fitwel-Decorative-Green: #71BE39;
$Fitwel-Decorative-Green-L1: #E9F9DD;
$Fitwel-Decorative-Greeen-L2: #F4FCEE;
$Fitwel-Decorative-Light-Blue: #199FDA;
$Fitwel-Decorative-Light-Blue-L1: #DDF1F9;
$Fitwel-Decorative-Light-Blue-L2: #EEF8FC;
$Fitwel-Decorative-Magenta: #EB1476;
$Fitwel-Decorative-Magenta-L1: #F9DDE9;
$Fitwel-Decorative-Magenta-L2: #FCEEF4;
$Fitwel-Element-Icon-Primary: #0053C7;
$Fitwel-Element-Icon-Dark: #010F23;
$Fitwel-Element-Icon-Subtle: #5E718D;
$Fitwel-Element-Icon-Disabled: #A3B0C2;
$Fitwel-Status-Warning: #C74723;
$Fitwel-Status-Warning-L1: #FEE2D5;
$Fitwel-Status-Warning-L2: #FCF2EE;
$Fitwel-Status-Destructive: #BA1E2E;
$Fitwel-Status-Destructive-L1: #F9DDDF;
$Fitwel-Status-Destructive-L2: #FCEEEF;
$Fitwel-Status-Success: #199951;
$Fitwel-Status-Success-L1: #E5F1E9;
$Fitwel-Status-Success-L2: #F2F8F4;
$Fitwel-Status-Information: #2768AE;
$Fitwel-Status-Information-L1: #DDEAF9;
$Fitwel-Status-Information-L2: #EEF5FC;
$Fitwel-Status-New: #6124B2;
$Fitwel-Status-New-L1: #E9DDF9;
$Fitwel-Status-New-L2: #F4EEFC;
