@import "../../node_modules/bootstrap/scss/alert";
@import "./colors.overrides";

.alert {
  display: flex;
  position: relative;
  align-items: center;
  height: 76px;
  width: 450px;
  background-color: $white;
  border: none;
  box-shadow: 0px 1px 3px rgba(44, 50, 66, 0.15), 0px 8px 16px rgba(44, 50, 66, 0.08);

  &__info-icon {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .bi-x-lg {
    position: absolute;
    right: 10px;
    color: $text-body;
  }

  p {
    margin: 0;
    color: $text-body;
  }

  &-sm {
    width: 300px;
  }
}
